<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" multiple/>
        <input type = "submit"/>
    </form> 

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{% if hikes %}
{% for hike in hikes %}
<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ hike.hike_date }}</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills" role="tablist">
        <img src="{{ url_for('static', filename='/svg/' + hike.hike_id + '.svg')}}">
        <li><a>Hike Length: <span class="badge">{{ "%.2f"|format(hike.hike_length/1000) }} km</span></a></li>
        <li><a>Hike Duration: <span class="badge">{{ hike.duration }}</span></a></li>
        <li><a>Average Speed: <span class="badge">{{ "%.2f"|format(hike.avg_speed) }} km/h</span></a></li>
        <!-- <li><a>Total Elevation Gain: <span class="badge">{{ "%.2f"|format(hike.elevation_gain) }}</span></a></li> -->
        <li><a>Images Uploaded: <span class="badge">{{ hike.image_count }}</span></a></li>
        <li><a href="{{ url_for('map', id = hike.hike_id) }}" type="button" class="btn btn-link">View Map</a></li>
        <li>
          <form action = "/img_upload" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "img_file.{{ hike.hike_id }}"/>
            <input type = "submit"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <img src = "{{ url_for('static', filename='/charts/' + hike.hike_id + '.png') }}">
{% endfor %}
{% else %}
<h1>No hikes found, please upload some first!</h1>
{% endif %}
</body>